/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font: "Inter-Variable";
  --font-accent: "PressStart2P";

  --main-font-size: 1.125rem;
  --accent-font-size: 14px;

  --floppy-size: 39px;
  --modal-padding-inline: 30px;

  --card-inline-size: clamp(min(100%, 375px), 50vw, 700px);

  --main-color: #000;
  --bg-color: #fff;
  --heart-hover: #000;
  --button-text-color: #fff;

  --card-font-weight: 400;
  --card-title-font-weight: 700;

  --margin-heigt-top: 130px;
  --margin-heigt-bottom: 127px;

  --bg-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (width <= 375px) {
  :root {
    --floppy-size: 39px;
    --modal-padding-inline: 40px;
    --margin-heigt-top: 121px;
    --margin-heigt-bottom: 119px;
  }
}
